services:

  registry:
    image: registry:2.8.2
    restart: always
    ports: {{ deploy_registry_mirror.ports }}
    environment:
      REGISTRY_PROXY_REMOTEURL: https://registry-1.docker.io
      REGISTRY_STORAGE_DELETE_ENABLED: true
    deploy:
      resources:
        limits:
          memory: 1000M
