x-labels-common: &labels-common
  org.pepe.role: monitoring-agents
  org.promtail.logging: false

networks:
  default:
    driver: bridge
{% for item in deploy_monitoring_agents.external_networks %}
  {{ item }}:
    external: true
{% endfor %}


services:

{% if deploy_monitoring_agents.get('cadvisor', {}).get('enabled', True) == true %}
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    restart: always
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
    networks:
      default:
    labels:
      <<: *labels-common
{% endif %}

  alloy:
    image: grafana/alloy:latest
    restart: always
    ports:
      - 12345:12345
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      - /var/log:/var/log:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    networks:
      default:
{% for item in deploy_monitoring_agents.external_networks %}
      {{ item }}:
{% endfor %}
    labels:
      <<: *labels-common
