version: '3'
services:

{% for runner in runners %}
  {{ runner.name }}:
    image: {{ runner.image }}
    restart: unless-stopped
    privileged: false
    volumes:
      - './{{ runner.name }}:/etc/gitlab-runner'
      - '/var/run/docker.sock:/var/run/docker.sock'

{% endfor %}

volumes:
  cache-volume:

